<%= form_for @store, url: {action: 'search'},  method: 'get' do |f| %>
  <% if @store.errors.any? %>
    <h2> Errors: </h2>
    <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <h2>Select Tacos to Find:</h2>
  <%= f.collection_check_boxes(
    :taco_ids, Taco.all, :id, :name) do |b| %>
      <%= b.check_box %>
      <%= b.label %>
    </br>
  <% end %>

  <h2>Select Sauces to Find:</h2>
  <%= f.collection_check_boxes(
    :salsa_ids, Salsa.all, :id, :name) do |b| %>
      <%= b.check_box %>
      <%= b.label %>
    </br>
  <% end %>

  </br>

  <%= f.submit('Search') %>
<% end %>
